// variables

body {
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
  color: #222;

  margin-bottom: 3rem;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.header {
  margin-top: 5rem;

  img {
    width: 14.25rem;
    height: 14.25rem;
  }
}

a {
  color: #555;
  text-decoration: none;
}

nav > ul {
  margin: 0;
  list-style-type: unset;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 0.5rem;

  a {
    text-decoration: underline;
  }
}

.container :first-child {
  border: none;
}

section {
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid #aaa;
}

p {
  line-height: 1.6;
}
